In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
data=pd.read_csv("/home/ise/1NT19IS088/pima.csv")
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.metrics import accuracy_score,confusion_matrix,f1_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler

from matplotlib import rcParams
data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [ ]:
x=data.drop("Outcome",axis=1)
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [ ]:
y=data["Outcome"]
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
scaler=StandardScaler()
x_scaled=scaler.fit_transform(x)

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(x_scaled,y,stratify=y,test_size=0.10,random_state=34)

In [ ]:
classifier=RandomForestClassifier(n_estimators=100)
classifier.fit(X_train,Y_train)

RandomForestClassifier()

In [ ]:
Y_pred=classifier.predict(X_test)
print("Accuracy : ",accuracy_score(Y_test,Y_pred))

feature_importances_df = pd.DataFrame({"feature":list(x.columns),"importance":classifier.feature_importances_}).sort_values("importance",ascending=False)

feature_importances_df

Accuracy :  0.8181818181818182

                    feature  importance
1                   Glucose    0.254242
5                       BMI    0.173482
7                       Age    0.132085
6  DiabetesPedigreeFunction    0.128860
2             BloodPressure    0.088330
0               Pregnancies    0.082714
3             SkinThickness    0.071090
4                   Insulin    0.069198

In [ ]:
confusion_matrix(Y_test,Y_pred)

array([[44,  6],
       [ 8, 19]])

In [ ]:
print("f1_score : ",f1_score(Y_test,Y_pred))

f1_score :  0.7307692307692308

In [ ]:
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()
clf.fit(X_train,Y_train)
Y_pred=clf.predict(X_test)

print("Accuracy - DecisionTree : ",accuracy_score(Y_test,Y_pred))
print("f1_score : ",f1_score(Y_test,Y_pred))

Accuracy - DecisionTree :  0.7142857142857143
f1_score :  0.576923076923077